<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
		<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
		<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		{% endblock %}
	</head>

	<body>
		{% block body_content %}
		{% block content %}{% endblock %}
		{% endblock %}
	</body>
</html>